/* Container */
.container {
  width: 90%;
  height: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Doc */
.doc {
  color: white;
  background-color: black;
  border-color: white;

  width: 100%;
  height: 90%;
  margin-top: 5%;
  padding: 0;
}

/* Save Button */
.save-button {
  border-color: white;
  background-color: black;
  color: white;

  margin-top: 1rem;
}